* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #eee;
}

.tab {
  margin: 1rem;
  font-size: 1.75rem;
}